<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="MonoPosixHelper.dll" os="osx" target="libMonoPosixHelper.dylib"/>
	<dllmap dll="MonoPosixHelper.dll" os="linux" cpu="x86" target="./x86/libMonoPosixHelper.so"/>
	<dllmap dll="MonoPosixHelper.dll" os="linux" cpu="x86-64" target="./x64/libMonoPosixHelper.so"/>
</configuration>
