<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net45" />
  <package id="MonoGame.Framework.DesktopGL" version="3.7.1.189" targetFramework="net45" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="net45" />
  <package id="NETStandard.Library" version="2.0.0-preview1-25301-01" targetFramework="net45" />
  <package id="SixLabors.Core" version="1.0.0-beta0006" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net45" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.1" targetFramework="net45" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>